body {
    font-family: sans-serif;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
}

.btn:hover {
    background-color: #2980b9;
}
