body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #071225; /* diep donkerblauw */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 400px;
}

input {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

input::placeholder {
    color: #888;
}

#results {
    margin-top: 15px;
    text-align: left;
}

.result-item {
    padding: 12px;
    background: #0d1a33;
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
}

.result-item:hover {
    background: #102040;
}
