body {
    margin: 0;
    padding: 0;
    background: #0d2a5a;  /* iets lichtere blauw */
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center; /* verticaal centreren */
    align-items: center;     /* horizontaal centreren */
    min-height: 100vh;       /* volledige hoogte scherm */
    text-align: center;
}

/* CONTAINER */
.container {
    width: 80%;
    max-width: 500px;       /* smaller dan input */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INPUT WRAPPER */
.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/* INPUT */
#searchInput {
    width: 70%;
    max-width: 300px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
}

input::placeholder {
    color: #888;
}

/* DROPDOWN */
.dropdown {
    width: 100%;
    background: white;
    color: black;
    border-radius: 6px;
    margin-top: 5px;
    text-align: left;
}

.dropdown-item {
    padding: 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #102040;
}

/* FOUTMELDING */
.error {
    color: #ff6a6a;
    font-style: italic;
    font-size: 16px;
    margin-top: 10px;
}

/* BUTTONS */
.button-container {
    display: flex;
    justify-content: center; /* horizontaal gecentreerd */
    gap: 20px;
    margin-top: 30px;
}

.route-btn {
    width: 140px;
    padding: 15px;
    background: #00e676;  /* fel groen */
    color: #071225;       /* donkerblauw */
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.route-btn:disabled {
    background: #7aeebb;
    cursor: not-allowed;
    opacity: 0.6;
}

.route-btn:hover:not(:disabled) {
    transform: scale(1.05);
    background: #00ff85;
}

/* Terug-knop */
.back-btn {
    display: inline-block;
    margin-top: 35px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
}

.back-btn:hover {
    opacity: 1;
}
















